.Home {

}

.Home-lander {
  padding: 80px 0;
  text-align: center;
}

.Home-lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home-lander p {
  color: #999;
}

.Home-icon {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.25);
}

.Home-left {
    left: -5px;
}

.Home-right {
    left: 5px;
}

.Home-blurb {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding: 0 4rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.Home-mainContainer {
    padding: 2rem 0;
}
.Home-rowContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2rem 0;
}

.Home-side {
    flex: 1;
    position: relative;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .Home-blurb-sm {
        padding: 1rem;
    }

    .Home-icon-sm {
        width: 100%;
        height: 300px;
        left: 0;
        right: 0;
        border-radius: 0;
    }

    .Home-mainContainer {
        padding: 0;
    }

    .Home-imgSide {
        order: 2;
    }

    .Home-rowContainer {
        padding: 2rem 0;
    }
}
