.Services {

}

.Services-blurb {
    padding: 40px;
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .Services-blurb p {
        border-left: 4px solid lightgray;
        border-right: 4px solid lightgray;
        padding-left: 20px;
        padding-right: 20px;
    }

    .Services-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
