body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

html {
    font-size: 16px;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type=file] {
  width: 100%;
}

input:focus {
    outline: none !important;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem !important;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Alegreya Sans', sans-serif; /*'PT Serif', serif;*/
    font-weight: 600;
    margin-top: 0;
}

.hidden {
    display: none;
}

.content-container {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
}

.standalone {
    padding-top: 90px !important; /*this is a stand alone page so make sure it sits below the navbar */
}
